// Color variables
$color-tertiary-lighter: #2998ff4c;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-tertiary-darker: #372ca0;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Fonts
$default-font: 'Open Sans', sans-serif;

