.features {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  justify-self: center;

  padding: 20rem 0 5rem 0;
  margin-top: -15rem;
  position: relative;
  
  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    padding-bottom: 4rem;

    &:hover {
      transform: translateY(-1rem) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
  }
}

.card {
  position: relative;
  height: 50rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba($color-black, .2);
  left: 0;
  top: 0;
  text-align: center;
  padding: 2rem;
  background-color: $color-tertiary-lighter; 
  transition: all .2s;

  &__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    -webkit-background-blend-mode: screen;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../images/feature-1.jpg);
  }

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 6.75rem;
    width: 75%
  }

  &__heading-span {
    padding: 1rem 2rem;
    -webkit-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
  }

  &__details {
    padding: 2.5rem;
    color: $color-tertiary-dark;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &:hover {
    outline: 1.5rem solid $color-tertiary-dark;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
  }
}
