*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // makes 1 rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: $default-font;
  // padding: 0 2rem;
}

.container {
  display: grid; 
  grid-template-rows: 80vh min-content repeat(2, min-content);
  grid-template-columns: repeat(4, [col-start] 1fr) [col-end];
}

